


.game-title {
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 text-align: center;
 font-size: 50px;
 color: #34495E;
}


.message {
  
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 30px;
  text-align: center;
  color: #34495E;
}

.grid-container {
  display: inline-grid;
  grid-template-rows: 15vw 15vw 15vw;
  grid-template-columns: 15vw 15vw 15vw;
  grid-gap: 20px;
  align-items: center;
  background-color: #F1C40F;
  margin: auto;
}


.grid-item {
  display: flex;
  align-items: center;
  border: 1px solid #EAEDED;
  justify-content: center;
  background-color: #82E0AA;
  text-align: center;
  height: 100%;
  width: 100%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 40px;
  color: white;
}

.center {
  display:flex;
  align-items: center;
}


.center-button {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}


#reset {

    background-color: #4CAF50;
    border: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    padding: 30px 70px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
  
  }
}

.options-container {
    height: 200px;
    position: relative;
}

